{{#each coins as |coin| }}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      <a href="{{coin.website}}">{{coin.name}}</a>
    </h2>
    <p>
      <span class="ranking">Ranking: {{coin.rank}}</span>
    </p>
    <p>Ticker Symbol: {{coin.code}}</p>
  </div>
  <div class="col-md-7">
    <p>
      Current rate being sold: ${{coin.rate}}
    </p>
    <p>
      Highest it was ever sold: ${{coin.allTimeHighUSD}}
    </p>
    <p>
      Max supply of coins created: {{coin.maxSupply}}
    </p>
  </div>
</div>
{{/each}}
